//*Tehreem*//
*{padding: 0; margin: 0}
#wrapper {
	 padding: 10px;
}
#header {
	height:100px; background-color:rgb(247, 246, 248) padding: 10px;
}
#logo {
	width:150px ; height: 100px; 	  background-color: yellow; border: 2px solid;
}

#navbar {
	height: 50px; background-color: yellow; margin-top: 10px;
}

#container {
		 margin-top: 10px;
		 background-color: green;
s
}
#container::after{content: " "; display:block; clear: both;}
#left-section {
	width: 25%; height: 6000px; background-color: rgb(226, 226, 225); float: left; border:2px solid black;
}
#right-section {
	width: 74%; height: 6000px; background-color: bisque;  float: right; margin-left: 2px; border:2px solid black;
}

ul {
	list-style-type: none;;
	
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: black;

}
.li1 a {
	float: left;
	display: block;
	color:white;
	padding: 16px;
	text-align: center;
	text-decoration: none;

}
 .li1 a:hover{
	background-color: rgb(61, 61, 59);
 }
 .pre1 {
	 font-family: Arial, Helvetica, sans-serif; 
 }
 pre {
	 font-family: Arial, Helvetica, sans-serif;
 }
 h2 {
	 color: green;
 }
 h3 {
	 color: blue;
 }
 body 
{
	background-color: rgb(223, 217, 146);
}


